body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    }
    
    /* Style the header with a background image and centered navigation */
    header {
    background-image: url('https://i.imgur.com/GFwZCGz.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    /* Customize the navigation bar */
    nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
    }
    
    nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ff69b41d;
    }
    
    nav li {
    margin-right: 10px;
    }
    
    nav a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
    }
    
    nav a:hover {
    color: #ff69b4;
    }
    
    nav.open {
    transform: translateY(0%);
    }
    
    nav.closed {
    transform: translateY(-100%);
    }

    iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    .iframe-2 {
        margin-top: 3px;
    }
    
    /* Add a fade-in animation to the main content */
    main {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    background-color: #ff69b4;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    }
    
    @keyframes fadeIn {
    from {
    opacity: 0;
    transform: translateY(20%);
    }
    to {
    opacity: 1;
    transform: translateY(0%);
    }
    }
    
    h1 {
        text-align: center;
        margin: 80px auto 20px; /* adjust the margin values as needed */
      }      
      
    /* Customize section headings */
    h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 20px;
    }
    
    /* Customize paragraph text */
    p {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 20px;
    }
    
    /* Style the discography list */
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    
    li {
    text-align: center;
    margin-bottom: 10px;
    padding-left: 20px;
    background-image: url('https://i.imgur.com/zKRvlzv.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 8px;
    font-weight: bold;
    }
    
    /* Customize links */
    a {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    }
    
    a:hover {
    text-decoration: underline;
    }
    
    /* Customize footer */
    footer {
    background-color: #ff69b4;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    }
    
    /* Customize image */
    .kim {
    display: block;
    margin: 10px auto;
    width: 320px;
    height: 300px;
    max-width: 400px;
    border-radius: 50%;
    box-shadow: -0px 10px 10px rgba(255, 0, 119, 0.234);
    }